@import "../../../variables";

.prefix {
  color: $grayCol;
  margin: 0 5px;
}

.about {
  font-size: 14px;
  line-height: 1.46;
  align-items: flex-start;
  margin-top: 40px;
}

.about-wrapper {
  align-items: center;
  justify-content: center; /* align horizontal */
  display: flex;
}

.img-about {
  width: 90%;
  margin-top: 10px;
  max-width: 401px;
  max-height: 212px;
  object-fit: contain;
}

.bold {
  font-family: HeeboBold;
  font-size: 16px;
}
