<app-toast [message]="toast.message"></app-toast>

<div class="appcontainer" dir="rtl">
  <div class="page-header">רישום</div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-centered">
      <div class="form-wrap">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="input-wrap">
            <mat-form-field appearance="outline" color="accent">
              <mat-icon matSuffix svgIcon="ic_user"></mat-icon>
              <mat-label>שם משתמש</mat-label>
              <input matInput #input type="text" minlength="2" maxlength="30" name="username" [formControl]="username"
                placeholder="שם משתמש">
              <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
              <mat-error *ngIf="username.hasError('minlength')">
                שם משתמש חייב להכיל לפחות 2 תווים
              </mat-error>
              <mat-error *ngIf="username.hasError('pattern')">
                שם המשתמש צריך להיות באנגלית
              </mat-error>
              <mat-error *ngIf="username.hasError('required')">
                <strong>חובה</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>אימייל</mat-label>
              <mat-icon matSuffix color="primary">alternate_email</mat-icon>
              <input matInput type="email" name="email" [formControl]="email" placeholder="אימייל">
              <mat-error *ngIf="email.hasError('pattern')">
                כתובת אימייל לא תקינה
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                <strong>חובה</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" color="accent">
              <input matInput placeholder="סיסמה" [formControl]="password" [type]="hide ? 'password' : 'text'"
                name="password">
              <mat-label>סיסמה</mat-label>
              <button mat-icon-button color="primary" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.hasError('minlength')">
                סיסמה צריכה להכיל לפחות 6 תווים
              </mat-error>
              <mat-error *ngIf="password.hasError('required')">
                <strong>שדה חובה</strong>
              </mat-error>
            </mat-form-field>

          </div>
          <button mat-raised-button type="submit" [disabled]="!registerForm.valid" color="accent">
            <i class="fa fa-circle-o-notch fa-spin" *ngIf="isLoading"></i>
            רישום
          </button>
        </form>
      </div>
    </div>
  </div>
</div>