<mat-toolbar class="toolbar" color="accent" dir="rtl">

  <!--- Small logo -->
  <a routerLink="/" [hidden]="!showSmallIcon" class="link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" (window:resize)="onResize($event)">
    <img class="logo" src="../assets/roof_Logo.png">
  </a>

  <!--- Big logo -->
  <a routerLink="/" [hidden]="showSmallIcon" class="link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" (window:resize)="onResize($event)">
    <img class="toolbar-logo-image" [hidden]="!showSmallIcon" [style.width]="logoWidth" [style.height]="logoHeight"
      [style.padding]="logoPadding" src="../assets/img_logo_white.svg" (window:resize)="onResize($event)">
  </a>

  <!-- ML -->
  <div [hidden]="!(auth.loggedIn)">
    <button mat-flat-button routerLink="/ml" [style.margin-right]="margin" class="link" routerLinkActive="active">
      <img class="menu-icon" src="../assets/btn_price.svg">
      <div class="menu-text">מחיר נכס</div>
    </button>
  </div>


  <!-- Graphs -->
  <div [hidden]="!(auth.loggedIn && auth.isAdmin)">
    <button mat-flat-button routerLink="/ml-performance" class="link" routerLinkActive="active">
      <img class="menu-icon" src="../assets/btn_metrics.svg">
      <div class="menu-text">ביצועים</div>
    </button>
  </div>

  <!-- Users -->
  <div [hidden]="!(auth.loggedIn && auth.isAdmin)">
    <button mat-flat-button routerLink="/users" class="link" routerLinkActive="active">
      <img class="menu-icon" src="../assets/btn_users.svg">
      <div class="menu-text">משתמשים</div>
    </button>
  </div>

  <!-- About -->
  <div [hidden]="auth.loggedIn && auth.isAdmin && showSmallIcon">
    <button mat-flat-button routerLink="/about" class="link" routerLinkActive="active">
      <img class="menu-icon" src="../assets/btn_about.svg">
      <div class="menu-text">אודות</div>
    </button>
  </div>

  <!--- User menu -->
  <div [hidden]="!auth.loggedIn" class="user-menu">
    <button mat-button [matMenuTriggerFor]="userMenu" class="link">
      <img class="menu-icon" src="../assets/btn_user.svg">
      <div class="menu-text">{{userName}}</div>
    </button>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/account">
        <i class="fa fa-cog"></i>
        <span>הגדרות משתמש</span>
      </a>
      <a mat-menu-item routerLink="/logout">
        <i class="fa fa-sign-out"></i>
        <span>התנתק</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<br><br>