@import '../../../variables';
.page-header {
    margin: 30px;
    font-size: $font-large;
    text-align: center;
    font-weight: bold;
    color: $accentCol;
}

.prefix {
    color: $grayCol;
    margin: 0 5px;
}

.form-wrap {
    text-align: center;
    .input-wrap {
        margin: 20px 0;
    }
    .mat-form-field {
        width: 100%;
    }
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
  
.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

/deep/.mat-row:hover {
    background: rgba(0, 0, 0, 0.04);
}

.mat-header-cell {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
}
