<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div [hidden]="isLoading" class="container">
  <app-page-header [title]="title"></app-page-header>
  <div class="row">
    <div class="col-md-12 col-centered">
      <div class="mat-elevation-z4">
        <mat-table dir="rtl" #table [dataSource]="dataSource" matSort>

          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- City Column -->
          <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header> עיר </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.city}} </mat-cell>
          </ng-container>

          <!-- Neighborhood Column -->
          <ng-container matColumnDef="neighborhood">
            <mat-header-cell *matHeaderCellDef mat-sort-header> שכונה </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.neighborhood}} </mat-cell>
          </ng-container>

          <!-- Street Column -->
          <ng-container matColumnDef="street">
            <mat-header-cell *matHeaderCellDef mat-sort-header> רחוב </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.street}} {{asset.address_home_number}} </mat-cell>
          </ng-container>

          <!-- Rooms Column -->
          <ng-container matColumnDef="rooms">
            <mat-header-cell *matHeaderCellDef mat-sort-header> חדרים </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.Rooms_text}} </mat-cell>
          </ng-container>

          <!-- Floor Column -->
          <ng-container matColumnDef="floor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> קומה </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.Floor_text}} </mat-cell>
          </ng-container>

          <!-- Home Type Column -->
          <ng-container matColumnDef="home_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> סוג </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.HomeTypeID_text}} </mat-cell>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> מחיר </mat-header-cell>
            <mat-cell *matCellDef="let asset"> {{asset.price}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> מידע </mat-header-cell>
            <mat-cell *matCellDef="let asset">
              <button mat-icon-button color="primary" class="btn btn-sm btn-info" (click)="showAsset(asset._id)">
                <i class="fa fa-info"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
          <mat-row (click)="showAsset(asset._id)" *matRowDef="let asset; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>