@import '../../../variables';

.page-header {
    margin: 30px;
    font-size: $font-large;
    text-align: center;
    font-weight: bold;
    color: $accentCol;
}
.prefix {
    color: $grayCol;
    margin: 0 5px;
}

form {
    text-align: center;
    .mat-form-field {
        margin-left: 15px;
    }
}