@import "../../../variables";

.prefix {
  color: $grayCol;
  margin: 0 5px;
}

agm-map {
  height: 100%;
  width: 100%;
}

.map-container {
  width: 50%;
  height: 100%;
  display: block;
  background-color: #734fbe;
}

.calc-button {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  font-family: HeeboRegular;
}

#calc-button-div {
  width: 95%;
}

#app-table {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.ml-details {
  height: 100%;
  margin-top: 50px;
  margin-right: 20px;
}

.child-css {
  width: 100%;
  height: 100%;
}

p{
  font-family: HeeboRegular;
  font-size: 12px;
  text-align: right;

}

.algo-info ul{
  font-family: HeeboRegular;
  font-size: 12px;
  text-align: right;
  margin-right: 30px;
  list-style-type: circle;
}

.algo-info{
  height: 100%;
  display: flex; 
  align-items: flex-start;
  display: flex;
  justify-content: center; /* align horizontal */
}

.chart-parent{
  width: 100%;
  padding-bottom: 100%;
}

.chart-parent > div{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  justify-content: center; /* align horizontal */

}

.chart {
  transform: translate(0,0);
}