@import "../../../variables";

.prefix {
  color: $grayCol;
  margin: 0 5px;
}

form {
  text-align: center;
  .mat-form-field {
    margin-left: 15px;
  }
}

agm-map {
  height: 100%;
  width: 100%;
}

.map-container{
  width: 50%;
  height: 100%;
  display: block;
  background-color: #734fbe;
}

.calc-button {
  width: 100px;
  height: 44px;
  border-radius: 22px;
}

#param-item {
  width: 90%;
}

.ml-list{
  margin-right: 20px;
}
.calc-price {
  font-family: Heebo;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: center;
  color: #734fbe;
}

.calc-info {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #734fbe;
}

.calc-div {
  height: 90px;
}

#calc-button-div{
  padding-left: 45px;
  width: 100%;
  padding-right: 30px;
}

#app-table {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.ml-details{
  height: 100%;
  margin-top: 50px;
  margin-right: 20px;
}
.child-css{
  width: 100%;
  height: 100%;
  }
 