<div class="appcontainer">

  <div class="page-header"></div>


  <mat-grid-list class="ml-list" [cols]="colNumber" gutterSize="5px" rowHeight="80px" (window:resize)="onResize($event)" dir="rtl">
 
      <mat-grid-tile [colspan]="1" [rowspan]="2">
          <div *ngIf="!auth.loggedIn" class="btn-wrap">
              <button mat-raised-button id="login-button" routerLink="/login" routerLinkActive="active" color="accent">
               התחברות
              </button>
              <br />
              <br />
              <br />
              <button mat-raised-button id="login-button" routerLink="/signup" routerLinkActive="active" color="accent">
                הרשמה
              </button>
            </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="imgCol" [rowspan]="4">
          <img class="mockup-img" src="assets/img_web_mockups.jpg" alt="image">
      </mat-grid-tile>

</mat-grid-list>
</div>