@import '../../../variables';

.prefix {
    color: $grayCol;
    margin: 0 5px;
}
.mat-expansion-panel {
    .mat-form-field {
        width: 90%;
    }
}

.form-wrap {
    .mat-form-field {
        width: 90%;
        margin: 0px 20px;
    }
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel-header-title {
    line-height: 3;
}
.mat-action-row {
    padding: 0;
}

agm-map {
    height: 100%;
    width: 100%;
}

#asset-grid{
    height: 250px;
}

#price{
    font-size: 20px;
}

input{
    color: black;
}

.user-details{
    color: gray;
}