@import '../../../variables';
.page-header {
    margin: 30px;
    font-size: $font-large;
    text-align: center;
    font-weight: bold;
    color: $accentCol;
}
.prefix {
    color: $grayCol;
    margin: 0 5px;
}
.mat-expansion-panel {
    .mat-form-field {
        width: 90%;
    }
}

.form-wrap {
    .mat-form-field {
        width: 90%;
        margin: 0px 20px;
    }
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel-header-title {
    line-height: 3;
}
.mat-action-row {
    padding: 0;
}

agm-map {
    height: 100%;
    width: 100%;
}