<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<!-- asset -->
<div [hidden]="isLoading" class="container">
  <app-page-header [title]="title"></app-page-header>

  <div class="mat-card">
    <form [formGroup]="mlForm" dir="rtl">
      <!-- city -->
      <mat-form-field>
        <span matPrefix>
          <i class="prefix fa fa-user"></i>
        </span>
        <input type="text" matInput [formControl]="city" [matAutocomplete]="autoCity" placeholder="עיר">
        <mat-autocomplete #autoCity="matAutocomplete">
          <mat-option (onSelectionChange)="cityChanged($event, city)" *ngFor="let city of filteredCities | async" [value]="city">{{city}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="city.hasError('required')">
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-spinner class="spinner-wrapper" [diameter]="40" *ngIf="isSearching"></mat-spinner>
      <b>{{mse | currency:'ILS'}}</b>
      <img mat-card-image *ngIf="plotUrl" [(src)]="plotUrl"/>
    </form>
  </div>
</div>