<app-loading [condition]="isLoading"></app-loading>

<div *ngIf="user" class="appcontainer"  dir="rtl">
  <div class="page-header">הגדרות משתמש</div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-centered">
      <div class="form-wrap">
        <form [formGroup]="editForm" (ngSubmit)="save(user)">
          <div class="input-wrap">
            <mat-form-field appearance="outline" color="accent">
                <mat-icon matSuffix>person</mat-icon>
              <mat-label>שם משתמש</mat-label>
              <input matInput #input type="text" minlength="2" maxlength="30" name="username"
                [(ngModel)]="user.username" [formControl]="username" placeholder="שם משתמש">
              <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
              <mat-error *ngIf="username.hasError('minlength')">
                שם משתמש חייב להכיל לפחות 2 תווים
              </mat-error>
              <mat-error *ngIf="username.hasError('pattern')">
                שם המשתמש צריך להיות באנגלית
              </mat-error>
              <mat-error *ngIf="username.hasError('required')">
                <strong>חובה</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" color="accent" >
                <mat-label>אימייל</mat-label>
                <mat-icon matSuffix>alternate_email</mat-icon>
              <input matInput type="email" name="email" [(ngModel)]="user.email"
                [formControl]="email" placeholder="אימייל">
              <mat-error *ngIf="email.hasError('pattern')">
                כתובת אימייל לא תקינה
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                <strong>חובה</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button type="submit" [disabled]="!editForm.valid" color="accent">
            עדכן
          </button>
        </form>
      </div>
    </div>
  </div>
</div>