@import '../../../variables';
.page-header {
    margin: 30px;
    font-size: $font-large;
    text-align: center;
    font-weight: bold;
    color: $accentCol;
}

.deal-search-input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 30px;
    width: 50%;
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
